# BeautifulSoup

Scraping 100 Most Popular TV Shows from imdb website

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.135 Safari/537.36"}
r = requests.get('https://www.imdb.com/chart/tvmeter/', headers=headers)

In [3]:
soup = BeautifulSoup(r.text, 'html.parser')

In [4]:
mv_list = soup.find("tbody").findAll("tr") # searching data by html tags

In [5]:
mv_list[0]

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="8.2" name="ir"></span>
<span data-value="1.45368E12" name="us"></span>
<span data-value="207111" name="nv"></span>
<span data-value="-2.8000000000000007" name="ur"></span>
<a href="/title/tt4052886/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=332cb927-0342-42b3-815c-f9124e84021d&amp;pf_rd_r=X2YFAEG0DPRH1V29A8MH&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=tvmeter&amp;ref_=chttvm_tt_1"> <img alt="Lucifer" height="67" src="https://m.media-amazon.com/images/M/MV5BNzY1YjIxOGMtOTAyZC00YTcyLWFhMzQtZTJkYTljYzU0MGRlXkEyXkFqcGdeQXVyMTAwMzM3NDI3._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
<a href="/title/tt4052886/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=332cb927-0342-42b3-815c-f9124e84021d&amp;pf_rd_r=X2YFAEG0DPRH1V29A8MH&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=tvmeter&amp;ref_=chttvm_tt_1" title="Tom Ellis, Lauren German">Lucifer</a>
<span class="secondaryInfo">(2016)</span>
<div class="velocity">1
<span class="secondaryInfo">(
<span class="global-sprite titlemeter up"></span>
2)</span>
</div>
</td>
<td class="ratingColumn imdbRating">
<strong title="8.2 based on 207,111 user ratings">8.2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt4052886 pending" data-titleid="tt4052886">
<div class="boundary">
<div class="popover">
<span class="delete"> </span><ol><li>1<li>2<li>3<li>4<li>5<li>6<li>7<li>8<li>9<li>10</li></li></li></li></li></li></li></li></li></li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt4052886"></div>
</td>
</tr>

In [6]:
import pandas as pd
import re

In [7]:
def append_movie(mv):
    title = mv.find("td", {'class': 'titleColumn'}).find('a').text # getting Content inside the html tag
    year = mv.find("td", {'class': 'titleColumn'}).find('span').text[1:-1]
    rating_soup = mv.find("td", {'class': 'ratingColumn imdbRating'}).find('strong')
    if rating_soup is None:
        rating = no_of_user = 0
    else:
        rating = rating_soup.text
        no_of_user = re.sub(r'.+(based on )(.+)( user ratings)', r'\2', rating_soup['title'])
        
    return [title, year, rating, no_of_user]

In [8]:
data = []
for mv in mv_list:
    data.append(append_movie(mv))

In [9]:
df = pd.DataFrame(data, columns = ['Title', 'Year', 'Rating', 'Number of Users'])
df

                                Title  Year Rating Number of Users
0                             Lucifer  2016    8.2         207,111
1                The Umbrella Academy  2019    8.0         128,556
2                   Lovecraft Country  2020    7.5           8,046
3                         Yellowstone  2018    8.5          20,970
4                            The Boys  2019    8.7         163,266
..                                ...   ...    ...             ...
95                             Gotham  2014    7.8         207,536
96                         The Sinner  2017    7.9          80,636
97         The Haunting of Hill House  2018    8.7         153,030
98                            Mad Men  2007    8.6         199,896
99  It's Always Sunny in Philadelphia  2005    8.8         184,683

[100 rows x 4 columns]

In [10]:
df.to_csv ('100_most_popular_tv_show.csv', index=False)