# Python Basics 1
* [Data Types](#Data-Types)
* [String](#String)
    * [Built-in Functions for string](#Built-in-Functions-for-string)
* [Math Operators](#Math-Operators)
* [Logical Conditions](#Logical-Conditions)
* [Functions](#Functions)
* [Lists](#Lists)
    * [Deleting Items](#Deleting-items)
    * [Adding items](#Adding-items)
    * [Built-in Functions for Lists](#Built-in-Functions-for-Lists)
* [Dictionaries](#Dictionaries)
* [Conditional Statements](#Conditional-Statements)
* [Loops](#Loops)

## Data Types

In [1]:
integer_var = 1 # Intergers (-1, 0, 2, 32)
float_var = 1.1 # Float (1.1, 1.2, 2.4, 5.5)
boolean_var = True # Boolean (True/False)
string_var = 'This is a string'
list_var = [1, 2, 3, 4, 5] 
tuple_var = (1, 2, 3, 4, 5) # Constant form of list
set_var = {1, 2, 3, 4, 5} # Cannot have two similar items in one set
dict_var = {'one': 1, 'two': 2, 'three': 3} # Key value paired data type

In [2]:
# changing data type
str(integer_var) # 1 to '1'
int(float_var) # 1.1 to 1
float(integer_var) # 1 to 1.0
bool('True') # 'True' to True

# checking data type
type('This func will return str')

str

## String

In [3]:
another_string = "Another way to write string"
multilined_string = """ This is a multilined string.
And can be written by single quote too.
"""

In [4]:
'Con' + 'catenate' # Concatenates

'Concatenate'

In [5]:
'String Concatenation with other data type ' + str(1)

'String Concatenation with other data type 1'

In [6]:
'google ' * 5 # Replication

'google google google google google '

### Built-in Functions for string

In [7]:
len('Checks length of string')

23

In [8]:
'This function splits sentences into words'.split()

['This', 'function', 'splits', 'sentences', 'into', 'words']

In [9]:
'Can-also-split-by-defining-param'.split('-')

['Can', 'also', 'split', 'by', 'defining', 'param']

In [10]:
'    Strips unwanted whitespaces   '.strip()

'Strips unwanted whitespaces'

In [11]:
'changes to uppercase'.upper()

'CHANGES TO UPPERCASE'

In [12]:
'CHANGES TO LOWERCASE'.lower()

'changes to lowercase'

In [13]:
'Replacing some parts in the jfehuehf'.replace('jfehuehf', 'string')

'Replacing some parts in the string'

In [14]:
'Finding first index of certain pattern in string'.find('in')

1

In [15]:
'123'.isdigit() # Checks whether the string is digit or not

True

## Math Operators

In [16]:
5 + 2 # 7
5 - 2 # 3
5 * 2 # 10
5 / 2 # 2.5
5 // 2 # Integer_division 2
5 % 2 # 1
5 ** 2 # 25

25

In [17]:
# Using Math Operators for boolean values
True + 3 # True=1
False + 3 # False=0

3

## Logical Conditions

In [18]:
a = 1
b = 3
c = [1,2]

a == b # False
a != b # True
a < b # True
a > b # False
a <= b # True
a >= b # False

a in c # True
a is not b # True
not False # True

True

## Functions

In [19]:
def func():
    return 'Returning value'

func()

'Returning value'

In [20]:
def func_one(param1, param2):
    return param1 + " " + param2

func_one("Returning","Value")

'Returning Value'

In [21]:
def func_two(param1, param2="Value"):
    return param1 + " " + param2

func_two("Returning")

'Returning Value'

In [22]:
func_two("Returning", "Another Value")

'Returning Another Value'

In [23]:
func_two(param2='Another Value', param1='Returning') # Changing order of parameter

'Returning Another Value'

## Lists

In [24]:
list_one = [1,2,3,4]
list_two = ['a', 'b', 'c']
list_three = [1, 'a', 2, 'b', 3, 'c']

In [25]:
list_one[1] # Accessing list

2

### Deleting items

In [26]:
list_three.remove('a') # deletes 'a' string from the list
list_three

[1, 2, 'b', 3, 'c']

In [27]:
del list_three[2] # deletes 3rd item in the list
list_three

[1, 2, 3, 'c']

In [28]:
list_three.pop() # deletes last item
list_three

[1, 2, 3]

### Adding items

In [29]:
list_one.append(5)
list_one

[1, 2, 3, 4, 5]

In [30]:
list_one.insert(3, 6) # Inserts at 3rd index
list_one

[1, 2, 3, 6, 4, 5]

### Built-in Functions for Lists

In [31]:
list_one.sort()
list_one

[1, 2, 3, 4, 5, 6]

In [32]:
len(list_one) # Total length of list

6

In [33]:
list_one.extend(list_three) # Combines two lists
list_one

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [34]:
list_one.count(3) # Counts the occurance of a certain item in the list

2

In [35]:
min(list_one)
max(list_one)
sum(list_one)
list_one

[1, 2, 3, 4, 5, 6, 1, 2, 3]

## Dictionaries

In [36]:
dict_one = {'one': 1, 'two': 2, 'three': 3}

In [37]:
for i in dict_one:
    print(i)

one
two
three

In [38]:
for i in dict_one:
    print(dict_one[i])

1
2
3

In [39]:
for x, y in dict_one.items():
    print(x + ":" + str(y))

one:1
two:2
three:3

In [40]:
dict_one.keys()

dict_keys(['one', 'two', 'three'])

In [41]:
dict_one.values()

dict_values([1, 2, 3])

In [42]:
dict_one.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

## Conditional Statements

In [43]:
if 1 > 0:
    print(True)

True

In [44]:
if 1 < 0:
    print(0)
elif 1 > 0:
    print(1)
else:
    print(0,1)

1

In [45]:
list_one = [1,2,3,4]
x=5
if x in list_one:
    print("list_one contains", x)
elif x not in list_one:
    print("list_one contains", x)

list_one contains 5

## Loops

In [46]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [47]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [48]:
for i in "1234":
    print(i)

1
2
3
4

In [49]:
i = 1
while i<5:
    print(i)
    i += 1

1
2
3
4

In [50]:
for i in range(4, -5, -1):
    for j in range(abs(i)):
        print(" ", end="")
    for k in range(2*(5-abs(i))-1):
        print("*", end="")
    print("")

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *